name: MLOps Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  train-and-monitor:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install numpy pandas scikit-learn mlflow dvc fastapi uvicorn
          pip install dvc[all] mlflow scikit-learn pandas

      - name: Reproduce DVC pipeline
        run: dvc repro

      - name: Upload model artifact
        uses: actions/upload-artifact@v4
        with:
          name: trained-model
          path: models/risk_model.pkl
